body{
    background: #dff1d9;
}
.header{
    border: black 3px solid;
    border-radius: 15px;
    text-align: center;
    margin: 0.5em auto;
}
.header header img {
    width: 100px;
    height: 90px;
    border-radius: 15px;
    background-image: url(../../img/logo.png);
    margin: 0.5em auto;
}
.header #btn_inicio{
    border-radius: 15px;
    margin: 0.5em auto;
}
.buscar #txt_buscar{
    border-radius: 15px;
    width: 350px;
    margin: 0.5em auto;
}
.buscar #btn_buscar{
    border-radius: 15px;
    margin: 0.5em auto;
}
/* ------------NAV/MENU------------------- */
.nav{
    border: black 3px solid;
    border-radius: 15px;
    margin: 0.5em auto;
}
/* Borramos el estilo de lista  */
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Damos estilos del contenido de las etiquetas <a> */
#menu ul a{
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    text-transform: uppercase; /* Pone todo en mayusculas */
    letter-spacing: 1px; /* Da espacios entre letras de una palabra */
}
#menu ul li{
    position: relative;
    float: right;
    margin: 0;
    padding: 0;
    border-radius: 15px;
}
/* Damos efecto de color al pasar el cursor por cada celda */
#menu ul li:hover{
    background: rgb(0,0,0, 50%);
}
/* Escondemos el sub menu */
#menu ul ul{
    display: none;
    position: absolute;
}
#menu ul ul li{
    float: none;
    width: 150px;
    left: 0;
    padding: 0;
}
/* Desplegamos el submenu al pasar por la etiqueta <li> que lo contiene */
#menu ul li:hover > ul{
    display: block;
    z-index: 1;

}
    
   /* -----------------FIN-NAV-MENU------------------------- */
    /* -----------------MENU-SECTION------------------------ */
section{
    border: black 3px solid;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
section ul{
    list-style: none;
    text-align: center;
}
section ul a{
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    letter-spacing: 1px;
}
section ul li p{
    text-transform: uppercase;
    font-size: 20px;
    width: 50%;
}
section ul li{
    position: relative;
    width: 300px;
    border-radius: 15px;
}
section ul li:hover{
    background: rgba(75, 74, 74, 0.3);
}
section ul ul{
    display: none;
    width: 300px;
}
section ul ul li{
    float: none;
    width: 150px;
    left: 0;
    padding: 0;
}
section ul li:hover > ul{
    display: inline-block;
}
/* -----------------FIN-MENU-SECTION------------------------- */

/* -----------------SECTION-GRID----------------------------- */
section div{
    margin: 0.5em;
}
/* -----------------FIN-SECTION-GRID--------------------------*/
/* ---------------------IMAGENES-BLOQUES---------------------- */
section ul li div img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
}
/* -----------------FIN-IMAGENES-BLOQUES---------------------- */
.article{
    border: black 3px solid;
    border-radius: 15px;
}